<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		  <meta charset="UTF-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1.0">
		  <title>Mercury Viagens | Admin | Clientes</title>
		  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
		  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
		  <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">
		  <link rel="stylesheet" th:href="@{/css/style.css}">
		  <link rel="stylesheet" th:href="@{/css/admin/style.css}">
	</head>
	<body>
		<header th:replace="/admin/fragments/fragments::header">
			Menu admin
		</header>
		
		<main>
			<div class="container">			
				<h1>Clientes</h1>
				
				<a th:href="@{/admin/clientes/cadastrar}"
					class="btn btn-outline-secondary">Cadastrar</a>
				
				<table class="table">
					<thead>
						<tr>
							<th>CPF</th>
							<th>Nome</th>
							<th>E-mail</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente : ${clientes}" th:object="${cliente}">
							<td th:text="*{cpf}">CPF</td>
							<td th:text="*{nome}">Nome</td>
							<td  th:text="*{email}">E-mail</td>
							<td>
								<a class="btn btn-outline-secondary" 
									th:href="@{/admin/clientes/{cpf}(cpf=${cliente.cpf})}">Editar</a>
								
								<form class="d-inline-block"
									th:method="delete"
									th:action="@{/admin/clientes/{cpf}(cpf=${cliente.cpf})}">
									<button class="btn btn-outline-danger">Excluir</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</main>
	</body>
	<div th:replace="fragments/fragments::scripts"></div>
</html>